<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <button class="btn btn-primary" ng-click="openModal()">Create surrogation</button>
  </div>
  <div class="col-md-12">
    <h1>Subrogation</h1>
    <table class="table table-striped table-hover">
      <thead>
        <th>
          Case Reference
        </th>
        <th>
          Client
        </th>
        <th>
          # of claims
        </th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="subrogation in subrogations">
          <td>
            {{subrogation.case.case_ref}}
          </td>
          <td>
            {{subrogation.client}}
          </td>
          <td>
            {{subrogation.claims.length}}
          </td>
          <td>
            <button class="btn btn-success" ng-click="selectSubrogation(subrogation,$index)">View</button>
            <button class="btn btn-primary" ng-click="submit(subrogation)">Submit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="modalSubrogate">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create/Edit Subrogation</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-warning pull-right" ng-click="generateData()">Generate data</button>
          </div>
        </div>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="case_ref" class="col-md-2 control-label">Reference</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="case_ref" placeholder="Case reference" ng-model="activeSubrogation.case.case_ref"/>
            </div>
          </div>
          <div class="form-group">
            <label for="client" class="col-md-2 control-label">Client</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="client" placeholder="Client name" ng-model="activeSubrogation.client"/>
            </div>
          </div>
        </form>
        <form class="form">
          <table class="table">
            <thead>
              <tr>
                <th>Reference</th>
                <th>Member</th>
                <th>Provider</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>
              <tr>
                <th>
                  <div class="form-group">
                    <input type="text" class="form-control" id="claim_reference" placeholder="Claim reference" ng-model="activeClaim.claim_reference"/>
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input type="text" class="form-control" id="claim_member" placeholder="Claim member" ng-model="activeClaim.claim_member"/>
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input type="text" class="form-control" id="claim_provider" placeholder="Claim provider" ng-model="activeClaim.claim_provider"/>
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input type="text" class="form-control" id="claim_amount" placeholder="Claim amount" ng-model="activeClaim.claim_amount"/>
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <button class="btn btn-active" ng-click="addActiveClaim()" ng-if="!editingClaim">Add</button>
                    <button class="btn btn-active" ng-click="saveActiveClaim()" ng-if="editingClaim">Save</button>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="claim in activeSubrogation.claims">
                <td>
                  {{claim.claim_reference}}
                </td>
                <td>
                  {{claim.claim_member}}
                </td>
                <td>
                  {{claim.claim_provider}}
                </td>
                <td>
                  {{claim.claim_amount | currency }}
                </td>
                <td>
                  <button class="btn btn-info" ng-click="editActiveClaim(claim,$index)">Edit</button>
                  <button class="btn btn-danger" ng-click="deleteClaim()">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismiss()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveSubrogation()">Save changes</button>
      </div>
    </script>
  </div>
</div>
